{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ form_errors(form) }}
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Ajouter un produit</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            {{ form_start(form, {'attr': {'class': 'tm-edit-product-form'}}) }}
              <div class="form-group mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }} 
              </div>
              <div class="form-group mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }} 
              </div>
              {# <div class="form-group mb-3">
                <label
                  for="category"
                  >Category</label
                >
                <select
                  class="custom-select tm-select-accounts"
                  id="category"
                >
                  <option selected>Select category</option>
                  <option value="1">New Arrival</option>
                  <option value="2">Most Popular</option>
                  <option value="3">Trending</option>
                </select>
              </div> #}
              <div class="form-group mb-3">
                <div class="row">
                  <div class="col">
                    {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity) }} 
                  </div>
                  <div class="col">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }} 
                  </div>
                </div>               
              </div>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <div class="form-group mb-3">
              {{ form_label(form.alt) }}
              {{ form_widget(form.alt) }} 
            </div>

            <div class="tm-product-img-dummy mx-auto">
              <i
                class="fas fa-cloud-upload-alt tm-upload-icon"
                onclick="document.getElementById('fileInput').click();"
              ></i>
            </div>

            <div class="custom-file mt-3 mb-3">
              <input id="fileInput" type="file" style="display:none;" />
              <input
                type="button"
                class="btn btn-primary btn-block mx-auto"
                value="UPLOAD PRODUCT IMAGE"
                onclick="document.getElementById('fileInput').click();"
              />
            </div>
          </div>
          <div class="col-12">
            {{ form_widget(form.save) }} 
          </div>
        {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
