{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 {# col-lg-8 col-xl-8 #} tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Vignette</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                <th scope="col">Date de modification</th>
                <th scope="col">Visible</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td class="tm-product-name">{{ product.name }}</td>
                <td>
                  <img  width="60px" src="{{ asset('/upload/product/') }}{{ product.img }}" class="img-fluid">
                </td>
                <td>{{ product.quantity }}</td>
                <td class="text-right">{{ product.price|number_format(2, ',', ' ') }}</td>
                <td>{{ product.createdAt|date("d/m/Y") }}</td>
                <td>{{ product.updatedAt|date("d/m/Y") }}</td>
                <td>
                  {% if product.enabled == true %}
                      <i class="fa fa-toggle-on tm-product-delete-icon"></i>
                  {% else %}
                      <i class="fa fa-toggle-off tm-product-delete-icon"></i>
                  {% endif %}
                </td>
                <td>
                  <a href="{{ path('adminProductRead', { 'id': product.id }) }}" class="tm-product-delete-link">
                    <i class="far fa-eye tm-product-delete-icon"></i>
                  </a>
                </td>
                <td>
                  <a href="{{ path('adminProductEdit', { 'id': product.id }) }}" class="tm-product-delete-link">
                    <i class="far fa-edit tm-product-delete-icon"></i>
                  </a>
                </td>
                <td>
                  <a href="{{ path('adminProductDel', { 'id': product.id }) }}" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <a
          href="{{ path('adminProductCreate') }}"
          class="btn btn-primary btn-block text-uppercase">Ajouter un nouveau produit</a>
        {# <button class="btn btn-primary btn-block text-uppercase">
          Delete selected products
        </button> #}
      </div>
    </div>
    {# <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            <tbody>
              <tr>
                <td class="tm-product-name">Product Category 1</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 2</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 3</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 4</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 5</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 6</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 7</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 8</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 9</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 10</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="tm-product-name">Product Category 11</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
          Add new category
        </button>
      </div>
    </div> #}
  </div>
</div>
{% endblock %}
