{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    .productInfo {
      display: block;
      color: #fff;
      background-color: #54657d;
      border: 0;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
    }
    </style>
{% endblock %}

{% block body %}
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">

      <div class="col-12">
        <h2 class="tm-block-title d-inline-block">Fiche du produit <strong>{{ product.name}}</strong></h2>
      </div>

      <div class="row tm-edit-product-row">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="form-group mb-3">
            <label>Nom du produit</label>
            <p class="productInfo">{{ product.name}}</p>
          </div>
          <div class="form-group mb-3">
            <label>Description</label>
            <p class="productInfo">{{ product.description}}</p> 
          </div>
          <div class="form-group mb-3">
            <div class="row">
              <div class="col">
                <label>Quantité</label>
                <p class="productInfo">{{ product.quantity}}</p> 
              </div>
              <div class="col">
                <label>Prix</label>
                <p class="productInfo">{{ product.price}}</p> 
              </div>
            </div>               
          </div>

          <div class="form-group mb-3">
            <label>Texte alternative à l'inmage</label>
            <p class="productInfo">{{ product.alt}}</p> 
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12">
          <img src="{{ asset('/upload/product/') }}{{ product.img }}" class="img-fluid">   
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
